<html>
<head>
    <title>ATMECS Ansible Demo</title>
</head>
<body>
    <h1>
        This is demo page getting from Github. 
    </h1>
    <br/><br/><br/>
<p>
        <img src="logo.jpg" alt="ATMECS Logo"/>
    </p>
</body>
</html>
